.left-section {
flex-basis: 33%;
flex-direction: column;
justify-content: space-between; /* Ensures space between content and the palette */
height: 100%;
padding: 10px;
box-sizing: border-box;
margin-right: 10px;
font-size: 18px;
}

.left-section hr {
    color: var(--mode-color); /* Optional, but not necessary for <hr> */
    border: none; /* Remove the default border */
    border-top: 1px dashed var(--mode-color); /* Set a dotted top border with the dynamic color */
    height: 0; /* Since the border-top is used, we set height to 0 */
    margin-bottom: 0;
}

.left-section br {
    content: ""; /* Required for pseudo-element */
    display: block; /* Ensures that it behaves like a block element */
    margin: 0; /* Remove default margin */
    height: 2px;
}

@font-face {
    font-family: "SoutaneBlack";
    src: url("fonts/SoutaneBlack.ttf") format('truetype');
}

@font-face {
    font-family: "Cascadia";
    src: url("fonts/Cascadia.ttf") format('truetype');
}


#placeName {
    width: 100%;
    height: 21px;
    border: none;
    margin-bottom: 15px;
    color: var(--mode-color);
    font-family: 'Cascadia';
    font-size: 18px;
    letter-spacing: 2px;
    vertical-align: middle;
    text-align: center;
    resize: none;
    overflow: auto;
    background-color: rgba(128, 68, 99, 0.609);
}

#placeName:read-only {
    background-color: black; 
}

#commandLine{
display: none;
width: 100%;
height: 22px;
border: none;
background-color: rgb(52, 47, 39);
color: var(--mode-color);
font-size: 18px;
letter-spacing: 1px;
vertical-align: middle;
text-align: left;

resize: none;
overflow: hidden;
white-space: nowrap;
}

#textDiv, #writeBox {
flex-grow: 1;
height: 90%;
width: 100%;
border: none;
padding: 0;
background-color: black;
color: var(--mode-color);
font-family: 'Cascadia';
font-size: 15px;
line-height: 1.5;
resize: none;
overflow: auto;
white-space: pre-wrap
}

textarea:focus,
#placeName:focus,
#commandLine:focus {
outline: none;
}

#writeBox{
display:none;
width: 100%;

}


#paletteDiv {
display: none;
justify-content: center; /* Centers the palette horizontally */
padding-top: 10px;
border-top: 1px solid var(--mode-color); /* Optional: adds a top border to separate the palette */
}

.color-swatch {
width: 30px;
height: 20px;
margin: 0 5px;
border: 1px solid #ccc;
cursor: pointer;
transition: transform 0.2s;
}

.color-swatch:hover {
transform: scale(1.1);
border-color: #000;
}

.column {
    flex: 1;
    margin-right: 10px;
}


.hp-checkbox {
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
    color: var(--mode-color);
}




