.left-section {
flex-basis: 33%;
flex-direction: column;
justify-content: space-between; /* Ensures space between content and the palette */
height: 100%;
padding: 10px;
box-sizing: border-box;
margin-right: 10px;
font-size: 18px;
}

.left-section hr {
    color: lime; /* This changes the color of the <hr> element */
    border: none; /* Remove the default border */
    height: 2px; /* Set the height of the line */
    background-color: lime; /* Use background-color to make the <hr> visible */
    margin-bottom: 0;
}

@font-face {
    font-family: "SoutaneBlack";
    src: url("fonts/SoutaneBlack.ttf") format('truetype');
}

#placeName{
width: 100%;
border: none;
margin-bottom: 15px;
padding: 0;
background-color: rgb(39, 52, 39);
color: lime;
font-family: 'SoutaneBlack';
font-size: 22px;
letter-spacing: 2px;
vertical-align: middle;
text-align: center;
resize: none;
overflow: auto;
}

#textDiv, #writeBox {
flex-grow: 1;
height: 90%;
width: 100%;
border: none;
padding: 0;
background-color: black;
color: lime;
font-size: 18px;
line-height: 1.5;
resize: none;
overflow: auto;
white-space: pre-wrap
}

textarea:focus,
#placeName:focus {
outline: none;
}

#writeBox{
display:none;
width: 100%;
margin-bottom: 10px; /* Adds some spacing above the palette */
}


#paletteDiv {
display: none;
justify-content: center; /* Centers the palette horizontally */
margin-top: 10px;
padding-top: 10px;
border-top: 1px solid lime; /* Optional: adds a top border to separate the palette */
}

.color-swatch {
width: 30px;
height: 30px;
margin: 0 5px;
border: 1px solid #ccc;
cursor: pointer;
transition: transform 0.2s;
}

.color-swatch:hover {
transform: scale(1.1);
border-color: #000;
}

.column {
    flex: 1;
    margin-right: 10px;
}

