.left-section {
    position: relative;
    flex-basis: 33%;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
    margin-right: 10px;
    font-size: 18px;
}

.left-section hr {
    color: var(--mode-color); /* Optional, but not necessary for <hr> */
    border: none; /* Remove the default border */
    border-top: 1px dashed var(--mode-color); /* Set a dotted top border with the dynamic color */
    height: 0; /* Since the border-top is used, we set height to 0 */
    margin-bottom: 0;
}

/* .left-section br {
    content: ""; 
    display: block;
    margin: 0;
    height: 10px;
} */

#placeContainer {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

#placeSymbol {
    width: 45px; /* Adjust as needed */
    height: 30px;
    border: none;
    color: var(--mode-color);
    font-family: 'Cascadia';
    font-size: 32px;
    letter-spacing: 2px;
    text-align: center;
    resize: none;
    overflow: hidden;
    background-color: black;
    margin-right: 10px; /* Space between symbol and name */
}

#placeName {
    flex: 1; /* Takes up remaining space */
    height: 21px;
    border: none;
    color: var(--mode-color);
    font-family: 'SoutaneBlack';
    font-size: 22px;
    letter-spacing: 2px;
    text-align: left; /* Align text to the left */
    resize: none;
    overflow: hidden;
    background-color: rgba(128, 68, 99, 0.609);
}


#placeName,
#placeSymbol:read-only {
    background-color: black; 
}

#commandLine{
    position: absolute;
    display: none;
    width: 100%;
    height: 30px;
    left: 0;
    bottom: 0;
    
    padding-top: 5px;
    border-top: 1px solid var(--mode-color);
    background-color: rgb(52, 47, 39);
    color: lime;

    font-size: 18px;
    letter-spacing: 1px;
    vertical-align: middle;
    text-align: left;
   
    resize: none;
    overflow: hidden;
    white-space: nowrap;
}

#textDiv {
    flex-grow: 1;
    height: 83vh;
    width: 100%;
    border: none;
    padding: 0;
    background-color: black;
    color: var(--mode-color);
    font-family: 'Cascadia';
    font-size: 15px;
    /* line-height: 1.5; */
    resize: none;
    overflow: auto;
    white-space: pre-wrap
}

#textDiv::-webkit-scrollbar {
    width: 10px;
}

#textDiv::-webkit-scrollbar:horizontal {
    height: 10px;
}

#textDiv::-webkit-scrollbar-corner {
    background: black;
}

#textDiv::-webkit-scrollbar-track {
    background: rgb(65, 77, 65);
}

#textDiv::-webkit-scrollbar-thumb {
    background: var(--mode-color-trans);
    border-radius: 2px;
}

#textDiv::-webkit-scrollbar-thumb:hover {
    background: var(--mode-color);
}

#textDiv:focus,
#placeName:focus,
#commandLine:focus,
#placeSymbol:focus {
outline: none;
}


#paletteDiv {
position: fixed;
display: none;
justify-content: center; /* Centers the palette horizontally */
bottom: 6vh;
padding-top: 1vh;
border-top: 1px solid var(--mode-color); /* Optional: adds a top border to separate the palette */
}

.color-swatch {
width: 30px;
height: 30px;
margin: 0 5px;
border: 1px solid #ccc;
cursor: pointer;
transition: transform 0.2s;
}

.color-swatch:hover {
transform: scale(1.1);
border-color: #000;
}

.column {
    flex: 1;
    margin-right: 10px;
}


.hp-checkbox {
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
    color: var(--mode-color);
}




