.topContainer {
    position: block;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: black;
    border-bottom: 0.2vh solid var(--mode-color);
    height: 3vh; /* Adjust as needed */
    font-size: 1.5vh;
    font-family: 'SoutaneBlack';
    cursor: default;
}

.topContainer > div {
    position: absolute;
}

.topContainer > div:nth-child(1) {
    left: 2%;
}

.topContainer > div:nth-child(2) {
    left: 50%;
}

.topContainer > div:nth-child(3) {
    right: 2%;
}


/* Toolbar styles */
nav.toolbar {
    background-color: black;
    color: var(--mode-color);
    padding: 5px;
    font-size: 15px;
}

nav.toolbar ul {
    list-style: none;
    display: flex;
    padding-left: 10px;
    margin: 0;
}

nav.toolbar ul li {
    position: relative;
    margin-right: 20px;
}

nav.toolbar ul li > a {
    color: var(--mode-color);
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

/* Hover effect for main links */
nav.toolbar ul li > a:hover {
    background-color: #575757;
}

/* Dropdown styles */
nav.toolbar ul li > .dropdown {
    visibility: hidden; /* Hide the dropdown by default */
    opacity: 0; /* Start with 0 opacity */
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
    margin-top: 5px;
    border-radius: 4px;
    transition: visibility 0.2s, opacity 0.2s; /* Smooth transition */
    display: flex;
    flex-direction: column;
}

/* Dropdown items */
nav.toolbar ul li > .dropdown > li {
    width: 100%;
    display: block;
}

nav.toolbar ul li > .dropdown > li > a {
    padding: 10px 15px;
    color: var(--mode-color);
    text-decoration: none;
    display: block;
}

/* Hover effect for dropdown links */
nav.toolbar ul li > .dropdown > li > a:hover {
    background-color: #575757;
}

/* Show dropdown on hover of the parent li */
nav.toolbar ul li:hover .dropdown {
    visibility: visible; /* Show the dropdown */
    opacity: 1; /* Fade it in */
}

/* Ensure the dropdown stays open while hovering over it */
nav.toolbar ul li:hover > .dropdown,
nav.toolbar ul li > .dropdown:hover {
    visibility: visible;
    opacity: 1;
}

.highlight {
    background-color: rgb(39, 52, 39);
    transition: background-color 0.3s ease, color 0.3s ease;
}

#idBox{
    /* color: var(--background); */
    color:var(--background)
}
