#spotifyContainer{
    width: 0;
    height: 0;
    z-index: 0;
}


.modal {
    display: none;  /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Fallback background */
}

.modal-content {
    background-color: black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid var(--mode-color);
    width: 500px; /* Could be more or less, depending on screen size */
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--mode-color);
    text-decoration: none;
    cursor: pointer;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 450px;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Cascadia';
    border: 1px solid var(--mode-color);
    background-color: var(--background);
    color: var(--mode-color);
    border-radius: 0;
}

input:focus {
    outline: none;
}

button {
    background-color: var(--background);
    color: var(--mode-color);
    padding: 10px 15px;
    font-size: large;
    font-family: 'Cascadia';
    width: 450px;
    border: 1px solid var(--mode-color);
    border-radius: 1px;
    cursor: pointer;
}

button:hover {
    border: none;
    background-color: var(--mode-color);
    color: black;
}
