* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(39, 52, 39);
    color: lime;
}

.container {
    display: flex;
    margin: 20px;
    height: 90vh;
}

.left-section, .right-section {
    background-color: black;
    border: 1px solid lime;
    padding: 1vw;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}

#logo{
    width: 1000px;
}

#logoContainer {
    display: none;
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 1000;
    text-align: center;
    border: 1px solid lime;
    background-color: black;
}

#startLogo {
    position: fixed;
    display: block;
    width: 1000px;  
    top: 40%;
    left: 40%;
    z-index: 1000;
}

#gimme {
    font-size: 18px;
    color: rgba(245, 245, 245, 0.744); /* Adjust color and size as needed */
    font-family: 'SoutaneBlack';
    margin-bottom: 10px;
}


footer {
    background-color: transparent;
    color: rgba(0, 255, 0, 0.525);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
