* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mode-color: rgba(0, 255, 0, 1);
    --mode-color-trans: rgba(0, 255, 0, 0.4);
    --default-color:  rgb(6, 5, 5);
    /* rgb(6, 5, 5); */
}

@font-face {
    font-family: "SoutaneBlack";
    src: url("SoutaneBlack.ttf") format('truetype');
}

@font-face {
    font-family: "Cascadia";
    src: url("Cascadia.ttf") format('truetype');
}


body {
    font-family: 'Cascadia';
    background-color: rgb(5, 11, 41);
    color: var(--mode-color);
}

.container {
    display: flex;
    margin: 20px;
    height: 92vh;
}

.left-section, .right-section {
    background-color: black;
    border: 1px solid var(--mode-color);
    padding: 1vw;
    font-family: 'Cascadia';
    color: whitesmoke;
}

#logo{
    width: 1000px;
}

#logoContainer {
    display: none;
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 1000;
    text-align: center;
    border: 1px solid var(--mode-color);
    background-color: black;
}

#startLogo {
    position: absolute;
    width: 95%;  
    top: 40%;
    transform: ();
    z-index: 1000;
}

#gimme {
    font-size: 18px;
    color: rgba(245, 245, 245, 0.744); /* Adjust color and size as needed */
    font-family: 'Cascadia';
    margin-bottom: 10px;
}


footer {
    background-color: transparent;
    color: var(--mode-color);
    text-align: center;
    font-size: 1.8vh;
    position: fixed;
    width: 100%;
    bottom: 0.2vh;
}
