* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(42, 51, 56);
    color: lime;
}

#idBox{
    position: fixed;
    top:5px;
    right:5px;
    }

nav.toolbar {
    background-color: black;
    color: lime;
    padding: 5px;
    border-bottom: 1px solid lime;
    font-size: 16px;
}

nav.toolbar ul {
    list-style: none;
    display: flex;
    padding-left: 10px;
}

nav.toolbar ul li {
    margin-right: 20px;
}

nav.toolbar ul li a {
    color: lime;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

nav.toolbar ul li a:hover {
    background-color: black;
    color: hotpink;
}

.container {
    display: flex;
    margin: 20px;
    height: 90vh;
}

.left-section, .right-section {
    background-color: black;
    border: 1px solid lime;
    padding: 1vw;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}





footer {
    background-color: transparent;
    color: gray;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
